.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal a,
.reveal a:hover {
  color: #222;
}

.reveal section[data-background-image],
.reveal section[data-background-image] h1,
.reveal section[data-background-image] h2,
.reveal section[data-background-image] h3,
.reveal section[data-background-image] h4,
.reveal section[data-background-image] h5,
.reveal section[data-background-image] h6,
.reveal section[data-background-image] a,
.reveal section[data-background-image] a:hover {
  color: white;
  text-shadow: 1px 1px 1px black;
}

.reveal section[data-background-image] {
  background-color: rgba(0,0,0,0.6);
}
